[alias]
  st = status
  br = branch
  co = checkout
  show-ignored = !git ls-files -v | grep "^h"
  find-file = "!for branch in $(git for-each-ref --format=\"%(refname)\" refs/heads); do if git ls-tree -r --name-only $branch | grep \"$1\" > /dev/null; then  echo \"${branch}:\"; git ls-tree -r --name-only $branch | nl -bn -w3 | grep \"$1\"; fi; done; :"
  identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\""

[core]
  excludesfile = /Users/nabeen.khadka/.gitignore_global
  # pager = diff-so-fancy | less --tabs=2 -RFX
  pager = delta --dark --plus-color="#012800" --minus-color="#340001"

[format]
  pretty = format:%C(blue)%h %<(20,trunc)%C(green)%aN %>(15,trunc)%C(blue)%ar %C(green)%s

[commit]
  template = ~/.stCommitMsg

[merge]
  tool = neovim

[mergetool]
  prompt = false

[mergetool "neovim"]
  cmd = nvim -d $LOCAL $BASE $MERGED $REMOTE -c 'wincmd w' -c 'wincmd J'

[merge "npm-merge-driver"]
  name = automatically merge npm lockfiles
  driver = npx npm-merge-driver merge %A %O %B %P

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 

[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[user]
  useConfigOnly = true
  name = nabeen
  email = nabeen.khadka@arria.com
[user "arriabitbucket"]
  name = Nabeen Khadka
  email = nabeen.khadka@arria.com
[user "github"]
  name = nabn
  email = nabn@protonmail.com
[includeIf "gitdir:~/Arria/"]
  path = ~/Arria/.gitconfig
